files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_createsu.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/createsu ]
      then
        rm /tmp/createsu
        sudo docker exec `sudo docker ps --no-trunc -q` /root/.pyenv/versions/app/bin/python /srv/app/django_app/manage.py createsu --settings=config.settings.deploy
      fi