container_commands:
  01_collectstatic:
    command: "sudo docker exec `sudo docker ps --no-trunc -q` /root/.pyenv/versions/app/bin/python /srv/app/django_app/manage.py collectstatic --noinput --settings=config.settings.deploy"
    leader_only: true
  02_migrate:
    command: "sudo docker exec `sudo docker ps --no-trunc -q` /root/.pyenv/versions/app/bin/python /srv/app/django_app/manage.py migrate --noinput --settings=config.settings.deploy"
    leader_only: true
  03_createsu:
    command: "touch /tmp/createsu"
    leader_only: true
